#head1
{
color: rgb(135, 87, 43);
text-align: center;
background-color: aquamarine;
}
.head{


   
    background-color:blue;
}
#bd{


    background-image: url(images/ab.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}